/.vs/
.vsconfig
.DS_Store
/Library/
/[Tt]emp/
/Logs/
/obj/
*.apk
*.csproj
*.sln


#project
/Assets/Art/LuaRes/
/Assets/XLua/Gen/
/Assets/XLua/Gen.meta
BundleToAssetsMap*
*test*
*agora_log*
ProjectVersion.txt
/lua/.idea
/BuildConfig
/~luaTip/API/readMe.txt
/baloot_hall_proto
/editor_config/version.json
/Assets/Art/LuaRes.meta
/TargetIOS
/persistentLog.txt
/Log
/*.aab
/lua/.run
/Assets/StreamingAssets.meta
/deliveryPackName
/TargetAndroid
/*.log
/ProjectSettings/GraphicsSettings.asset
/ProjectSettings/GvhProjectSettings.xml
/ProjectSettings/AndroidResolverDependencies.xml
/lua/out
/.vscode
/excludeBundles
/AssetBundls
/Smart
/Assets/Art/BundleToAssetsSmartMap.txt
/Assets/Art/BundleToAssetsSmartMap.txt.meta
/dyload
/Assets/StreamingAssets

/APK
/APP
/Assets/google-services.json
/Assets/google-services.json.meta
/Assets/GeneratedLocalRepo
/Assets/GoogleService-Info.plist.meta
/Assets/GoogleService-Info.plist
/editor_config/pre_version.json
/pc
/.idea
